<spinner [visible]="loading"></spinner>
<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-xs-6">
        <h3 class="panel-title">لیست پرونده ها</h3>
      </div>
      <div class="col col-xs-6 text-right">
        <button type="button" class="btn btn-sm btn-primary btn-create" data-toggle="modal" data-target=".bs-example-modal-lg">ایجاد پرونده جدید</button>
      </div>
    </div>
  </div>
  <div class="panel-body text-center">
    <table class="table table-striped table-bordered table-list table-hover text-center">
      <thead>
        <tr>

          <th class="hidden-xs">ردیف</th>
          <th>نام</th>
          <th>کد ملی</th>
          <th>شماره پرونده</th>
          <th>نام پزشک</th>
          <th><em class="glyphicon glyphicon-cog"></em></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">

          <td class="hidden-xs">{{patient.id}}</td>

          <td>{{patient.name}}</td>
          <td>{{patient.national_code}}</td>
          <td>{{patient.file_number}}</td>
          <td>{{patient.doctor_name}}</td>
          <td align="center">
            <a class="btn btn-default"><em class="glyphicon glyphicon-pencil"></em></a>
            <a class="btn btn-danger"><em class="glyphicon glyphicon-trash"></em></a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col col-xs-4">Page 1 of 5
      </div>
      <div class="col col-xs-8">
        <ul class="pagination hidden-xs pull-right">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
        <ul class="pagination visible-xs pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- MMMMMMMMMOOOOOOOOOOOOOODAAAAAAAAAAAAAAAAAAALLLLLLLLLLLLLLLLLLLLLLLLLLLL -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ایجاد پرونده جدید</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" >
          <fieldset>
            <div class="col-md-6">
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="نام و نام خانوادگی">نام و نام خانوادگی</label>  
                <div class="col-md-8">
                  <input id="نام و نام خانوادگی" name="fullname" type="text" placeholder="نام و نام خانوادگی" class="form-control input-md"   [(ngModel)]="patient.fullname">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="کد ملی">کد ملی</label>  
                <div class="col-md-8">
                  <input id="کد ملی" name="national_code" type="text" placeholder="کد ملی" class="form-control input-md"   
                  [(ngModel)]="patient.national_code">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="شماره شناسنامه">شماره شناسنامه</label>  
                <div class="col-md-8">
                  <input id="شماره شناسنامه" name="idcrd_number" type="text" placeholder="شماره شناسنامه" class="form-control input-md" 
                  [(ngModel)]="patient.idcrd_number" >

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="تاریخ تولد">تاریخ تولد</label>  
                <div class="col-md-8">
                  <input id="تاریخ تولد" name="birt_hdate" type="text" placeholder="تاریخ تولد" class="form-control input-md"  
                  [(ngModel)]="patient.birt_hdate">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="نام پدر">نام پدر</label>  
                <div class="col-md-8">
                  <input id="نام پدر" name="father_name" type="text" placeholder="نام پدر" class="form-control input-md"  
                  [(ngModel)]="patient.father_name">

                </div>
              </div>

              <!-- Select Basic -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="محل تولد">محل تولد</label>
                <div class="col-md-8">
                  <select id="محل تولد" name="birth_place" class="form-control" [(ngModel)]="patient.birth_place">
                    <option value="زنجان">زنجان</option>
                    <option value="ابهر">ابهر</option>
                    <option value="خرمدره">خرمدره</option>
                    <option value="قیدار">قیدار</option>
                    <option value="هیدج">هیدج</option>
                    <option value="صائین‌قلعه">صائین‌قلعه</option>
                    <option value="سلطانیه">سلطانیه</option>
                    <option value="آب بر">آب بر</option>
                    <option value="سجاس">سجاس</option>
                    <option value="سهرورد">سهرورد</option>
                    <option value="زرین رود">زرین رود</option>
                    <option value="ماه‌نشان">ماه‌نشان</option>
                    <option value="کرسف">کرسف</option>
                    <option value="گرماب">گرماب</option>
                    <option value="دندی">دندی</option>
                    <option value="نوربهار">نوربهار</option>
                    <option value="زرین‌آباد">زرین‌آباد</option>
                    <option value="ارمغان خانه">ارمغان خانه</option>
                    <option value="چورزق">چورزق</option>
                    <option value="حلب">حلب</option>
                    <option value="نیک پی">نیک پی</option>
                  </select>
                </div>
              </div>
              <!-- Select Basic -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="محل سکونت">محل سکونت</label>
                <div class="col-md-8">
                  <select id="محل سکونت" name="living_place" class="form-control" [(ngModel)]="patient.living_place">
                    <option value="زنجان">زنجان</option>
                    <option value="ابهر">ابهر</option>
                    <option value="خرمدره">خرمدره</option>
                    <option value="قیدار">قیدار</option>
                    <option value="هیدج">هیدج</option>
                    <option value="صائین‌قلعه">صائین‌قلعه</option>
                    <option value="سلطانیه">سلطانیه</option>
                    <option value="آب بر">آب بر</option>
                    <option value="سجاس">سجاس</option>
                    <option value="سهرورد">سهرورد</option>
                    <option value="زرین رود">زرین رود</option>
                    <option value="ماه‌نشان">ماه‌نشان</option>
                    <option value="کرسف">کرسف</option>
                    <option value="گرماب">گرماب</option>
                    <option value="دندی">دندی</option>
                    <option value="نوربهار">نوربهار</option>
                    <option value="زرین‌آباد">زرین‌آباد</option>
                    <option value="ارمغان خانه">ارمغان خانه</option>
                    <option value="چورزق">چورزق</option>
                    <option value="حلب">حلب</option>
                    <option value="نیک پی">نیک پی</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">        
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="شماره پرونده">شماره پرونده</label>  
                <div class="col-md-8">
                  <input id="شماره پرونده" name="file_number" type="text" placeholder="شماره پرونده" class="form-control input-md"  
                  [(ngModel)]="patient.file_number">

                </div>
              </div>

              <!-- Multiple Radios (inline) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="جنسیت">جنسیت</label>
                <div class="col-md-8"> 
                  <label class="radio-inline" for="جنسیت-0">
                    <input type="radio" name="gender" id="جنسیت-0" value="m" checked="checked" [(ngModel)]="patient.gender">
                    مرد
                  </label> 
                  <label class="radio-inline" for="جنسیت-1">
                    <input type="radio" name="gender" id="جنسیت-1" value="f" 
                    [(ngModel)]="patient.gender">
                    زن
                  </label>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="شماره تلفن">شماره تلفن</label>  
                <div class="col-md-8">
                  <input id="شماره تلفن" name="phone" type="text" placeholder="شماره تلفن" class="form-control input-md"  [(ngModel)]="patient.phone">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="شماره همراه">شماره همراه</label>  
                <div class="col-md-8">
                  <input id="شماره همراه" name="mobile" type="text" placeholder="شماره همراه" class="form-control input-md"  [(ngModel)]="patient.mobile">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="نوع بیماری">نوع بیماری</label>  
                <div class="col-md-8">
                  <input id="نوع بیماری" name="cancer_type" type="text" placeholder="نوع بیماری" class="form-control input-md"  [(ngModel)]="patient.cancer_type">

                </div>
              </div>

              <!-- Multiple Radios (inline) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="وضعیت تاهل">وضعیت تاهل</label>
                <div class="col-md-8"> 
                  <label class="radio-inline" for="وضعیت تاهل-0">
                    <input type="radio" name="marital_status" id="وضعیت تاهل-0" value="s" checked="checked"
                    [(ngModel)]="patient.marital_status">
                    مجرد
                  </label> 
                  <label class="radio-inline" for="وضعیت تاهل-1">
                    <input type="radio" name="marital_status" id="وضعیت تاهل-1" value="m" 
                    [(ngModel)]="patient.marital_status">
                    متاهل
                  </label>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="نام دکتر">نام دکتر</label>  
                <div class="col-md-8">
                  <input id="نام دکتر" name="doctor_name" type="text" placeholder="نام دکتر" class="form-control input-md" [(ngModel)]="patient.doctor_name" >

                </div>
              </div>

              <!-- File Button --> 
              <div class="form-group">
                <label class="col-md-4 control-label" for="تصویر">تصویر</label>
                <div class="col-md-8">
                  <input id="تصویر" name="picture" class="input-file" type="file" [(ngModel)]="patient.picture">
                </div>
              </div>

            </div>
          </fieldset>
          <hr>
          <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
          <button type="button" class="btn btn-success" (click)="savePatients()">ذخیره</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- /MMMMMMMMMOOOOOOOOOOOOOODAAAAAAAAAAAAAAAAAAALLLLLLLLLLLLLLLLLLLLLLLLLLLL -->
