<div class="panel-body text-center" style="vertical-align: middle;">

	<div class="loading" *ngIf="true" >
		<i class="fa fa-spinner fa-pulse fa-5x fa-fw spinner"></i>
		<span class="sr-only">Loading...</span>
	</div>
	<!-- <h1>Hello {{name}}</h1> -->
	<header-component></header-component>
	<div class="col-lg-2 panel  panel-default" style="margin-bottom: 1px;">
		<sidebar-component></sidebar-component>
	</div>
	<div class="col-lg-10 panel  panel-default" style="margin-bottom: 1px;">
		<router-outlet></router-outlet>
	</div>



</div>