@font-face {
  font-family: IRANSans-web;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iransans/IRANSansWeb.eot');
  src: url('../fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iransans/IRANSansWeb.woff2') format('woff2'),
  url('../fonts/iransans/IRANSansWeb.woff') format('woff'),
  url('../fonts/iransans/IRANSansWeb.ttf') format('truetype');
}

.loading {
  width: 100%;
  background: none repeat scroll 0 0 black;
  position: fixed;
  display: block;
  opacity: 0.2;
  z-index: 1000001; // or, higher
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


.spinner {
  margin-top:20%;
  position: fixed;
  z-index: 1000002;
  color:white;
}

body,div,table {
  font-family: IRANSans-web !important;
}
